# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories
.vscode/
